body {
    background-image: url(../images/cork-board.png);
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    padding-bottom: 60px;
}

p {
    line-height: 26px;
}

.figure-caption {
    position: absolute;
    background-color: #4aaaa5;
    color: white;
    bottom: 10px;
    width: 100%;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 20px;
}

.portfolio-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.figure {
    position: relative;
    width: 100%;
    height: 200px;
}

.navbar {
    padding: 0;
}

.nav-container {
    padding: 0;
}

.container {
    max-width: 960px;
}


.heading {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    border-bottom: 2px solid #cccccc;
    font-weight: 600;
    font-size: 30px;
}

.btn.btn-square {
    background-color: #4aaaa5;
    color: #ffffff;
    border-radius: 0;
}

.footer {
    background-color: #666666;
    color: #cccccc;
    font-size: 12px;
    border-top: 5px solid #4aaaa5;
}

#profile {
    max-width: 30%;
}

#nav-heading {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #4aaaa5;
    color: #ffffff;
    margin: 0;
    font-size: 28px;
    font-weight: 600;
}

#content {
    background-color: #ffffff;
    border: 2px solid #dddddd;
}

@media (min-width: 576px) and (max-width: 991.98px) { 
    .container {
        max-width: 90%;
    }
    #profile {
        max-width: 40%
    }
}

@media (max-width: 575px) {
    .nav-container {
        padding-right: 8px;
    }
    #profile {
        max-width: 100%;
        margin-bottom: 10px;
    }
}

