body {
    background-color: #f0131e;
    font-family: 'Bangers', cursive;
}

span {
    white-space: pre-wrap;
}

p {
    font-size: 2em;    
}

.jumbotron {
    background-color: #01339a;
}

.container {
    position: relative;
}

.header-img {
    width: 50%;
    height: 75%;
}

.header-logo {
    position: absolute;
    bottom: -40px;
    color: white;
    right: 90px;
    font-weight: 800;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

#answer_img {
    max-width: 350px;
    max-height: 250px;
}

@media (max-width: 991.98px) { 
    .header-logo {
        right: 10px;
        bottom: -85px;
    }
    
    .header-img {
        width: 100%;
        bottom: -10px
    }
    
    .game-container {
        margin-top: 60px;
        margin-bottom: 40px;
    }
}