#navbar {
    background-color: #818081;   
}

#left {
    background-color: #0300fd;
    width: 50%;
    float: left;
}

.container {
    margin-top: 25px;
}

#right {
    background-color: #fe0001;
    width: 25%;
    float: right;
}

.foot {
    background-color: #028002;
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.foot, #navbar, #left, #right {
    text-align: center;
}

#left, #right {
    vertical-align: middle;
    line-height: 400px;
    height: 400px;
}